{% extends "_layout.html" %}

{% block content %}
<div class="container-fluid m-3">
<img src="{{user.profile_image_path}}" width="200px"/>
<h3>{{user.username}}</h3>
<div class="d-flex py-2">
    <a class="mx-2" href="{{url_for('users.edit', id=current_user.id)}}">Update Profile</a>
    <br />
    <a class="mx-2" href="{{url_for('users.profile_image', id=current_user.id)}}">Upload Profile Image</a>
    <br />
    <a class="mx-2" href="{{url_for('images.new')}}">Upload User Image</a>
    <br />
</div>
    
<div class="d-flex flex-row justify-content-center">
{% for image in images %}

        <div class="container">
            <img src="{{image.content_image_url}}" width="350px" />
            <p>Total Donated Amount: {{image.donations_sum}}</p>
            <ul>
                {% for d in image.donations %}
                    <li>{{d.user.username}} : {{d.amount}}</li>
                {% endfor %}
            </ul>
            
            <a href="{{url_for('transactions.new', image_id=image.id)}}"  class="btn btn-success">Donate</a>
        </div>
        {% endfor %}
</div>

{% endblock %}