{% extends "_layout.html" %}

{% block content %}
<div class="container-fluid m-3">
<img src="{{user.profile_image_path}}" width="200px"/>
<h3>{{user.username}}</h3>
<div class="d-flex py-2">
    <a class="mx-2" href="{{url_for('users.edit', id=current_user.id)}}">Update Profile</a>
    <br />
    <a class="mx-2" href="{{url_for('users.profile_image', id=current_user.id)}}">Upload Profile Image</a>
    <br />
    <a class="mx-2" href="{{url_for('images.new')}}">Upload User Image</a>
    <br />
</div>
    
    {% for image in images %}
    <img src="{{image.content_image_url}}" width="350px" />
    {% endfor %}
</div>
{% endblock %}